# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.sqlite3
*.log

# Django
db.sqlite3
media/
staticfiles/
.env

# VSCode
.vscode/

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Docker
*.pid

# OS
.DS_Store
Thumbs.db

# Postgres (Docker volume)
data/db/

# Build
frontend/build/
frontend/dist/
